

.lyrics-finder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100vw;
  height: auto;
}

.lyrics-finder-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.lyrics-finder-container .govde{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}