

.lyrics-finder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.lyrics-finder-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}